* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 1px solid black;
}

:root {
    font-size: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
<<<<<<< HEAD
    background-color: hsl(185, 75%, 39%);
=======
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
>>>>>>> 826d83bd84c40db88f37c36eeb615b556238ca7d
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card {
    min-height: 350px;
    max-width: 374px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;

    &__image-container {
        position: relative;
        padding-bottom: 12.5%;
    }

    &__patern {
        width: 100%;
        height: auto;
    }

    &__image {
        width: 28.41%;
        height: auto;
        display: block;
        height: auto;
        border-radius: 50%;
        border: 3px solid white;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
}
